/**********************************************************************
                          CSS Reset                                    
***********************************************************************/                          

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************************
                        Default Box Sizing
*************************************************************************/                              

/* Setting default box-sizing */
html{
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/************************************************************************
                        Clearfix
*************************************************************************/
  .clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/***************************************************************************
                              Testing                                      
****************************************************************************/

/* background colour so I can see the footprint of each page element for getting the layout right */
header, h2, h3, p{
    background-color: rgb(176, 230, 205);
}

.container
{
    background-color: chocolate;
}

a{
    background-color: violet;
}

.nav-item{
    background-color: yellow;
}

/************************************************************************
                              Main
*************************************************************************/
body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container
{
    width: 1024px;
    margin: 0 auto;
}

header{
    margin-bottom: -2rem;
}

.header-image{
    width: 100%;
}

.header-title{
    position: relative;
    bottom: 5.5rem;
    left: 23rem;
    margin-top: -1em;
}

/************************************************************************
                              Spacing
*************************************************************************/
main, article, section{
    margin: 1.5rem 0em;
}

main{
    padding: 0.5rem;
}

h2, h3, p{
    padding: 0.25em 0em;
}

/************************************************************************
                              Fonts
*************************************************************************/


h1{
    font-size: 3rem;
    color: white;
}

h2{
    font-size: 2rem;
    color:black;
}

h3{
    font-size: 1.5rem;
    color:black;
}

/************************************************************************
                              Links
*************************************************************************/
nav a{
    width: 33.33%;
    padding: 10px 0px;
    float:left;
    text-align: center;

    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

/* Link divider lines on every other link */
nav a:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}
