body{
    background-color: #333333;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: black;
}

.site-title{
    color: #B3C414;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}