body{
    background-color: #333333;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: black;
    padding: 10px;
    border-radius: 10px;;
}

.site-title{
    color: #B3C414;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

ul{
    list-style: square;
}

h1, h2, h3{
    color: #008F86;
    font-family: 'Teko', sans-serif;
}

h1{
    font-size: 350%;
}

h2{
    font-size: 250%;
}

h3{
    font-size: 150%;
}

#image-heading{
    font-family: 'Teko', sans-serif;
    font-size: 200%;
}

a:link{
    background-color: #333333;
    color: #C8D455;
    border: 1px solid #C8D455;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 10px;
}

a:visited{
    color: #F08A4B;
    text-decoration: none;
}

a:hover{
    background-color: #C8D455;
    color: #333333;
}