@font-face {
    font-family: 'GraphikArts';
    src: url(fonts/graphik_arts.ttf) format('ttf');
}

body{
    
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #111111;
}

header, footer{
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;;
}

.site-title{
    color: #86BF17;
    text-transform: uppercase;
    font-family: 'Graphik Arts';
    font-size: 40px;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

ul{
    list-style: square;
}

h1{
    color: #008F86;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
}

h2{
    color: #008F86;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: lighter;
}

h3{
    color: #008F86;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight:lighter;
}

#image-heading{
    font-family: 'Teko', sans-serif;
    font-size: 200%;
    font-weight: lighter;
}

a:link{
    background-color: #111111;
    color: #86BF17;
    border: 1px solid #86BF17;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 10px;
}

a:visited{
    color: #008F86;
    text-decoration: none;
}

a:hover{
    background-color: #86BF17;
    color: #111111;
}

ul>li:nth-child(odd){
    background-color: #333333;
}