/********************** CSS Reset *************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************** Border Box **************************/
/* Setting default box-sizing */
html{
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/************** Testing ************
.section-container{
    border: 1px solid royalblue;
}
*/

/*****************************************************************
 ***************** Mobile/Default Version ************************
 *****************************************************************/

/*********** Global styles ************/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #222222;

}

/**** images ****/
img{
    width:100%;
}

/**** Text *****/
h1, h2, h3, h4{
    margin-top: 0.5em;
    font-weight: 700;
    line-height: 1.5em;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

/*** Links ****/
a{
    text-decoration: none;
}

/*** containers ****/
#container{
    max-width:1200px;
    margin: auto;
    background-color: #ffffff;
    color: #222222;
}

.section-container, .text-container{
    padding:0.5rem;
}

.highlight{
    background-color:#ffe6ac;
}

.faded{
    background-color: rgba(34, 34, 34, 0.65);
    color: #ffffff;
}

.img-bg{
    background-size:cover;
    background-attachment: local;
    background-position: center;
}

.dark{
    background-color: #222222;
}

/**** Forms ****/
input, textarea, label{
    display:block;
    width: 100%;
}

input[type="submit"]{
    width: auto;
    padding: 0.25em;
}

label, input[type="submit"]{
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

/* Separated (sub)heading */
.separated-heading{
    width: 100%;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #c78b07;
}
.separated-heading h3{
    margin: 0.5em 0em 0.25em 0em;
}

.separated-heading h4{
    margin: 0em;
}

/**** button styles ****/
.button {
    color: #ffffff;
    text-decoration: none;    
    background-color: #222222;
    display:inline-block;
    padding: 1rem;
}

.highlighted-button{
    color: #222222;
    background-color: #c78b07;
}

.blue-button{
    border: 1px solid #c78b07
}

.gold-button{
    color: #c78b07;
    border: 1px solid #c78b07;
    background: #222222;
    
}

/***** Tables *****/
table{
    width:100%;
}

caption{
    text-align: left;
}

td, th{
    padding: 1em;
    border: 1px solid black;
}

/***** Embedded Media ****/
iframe{
    width: 100%;
}

/**************** Targeted Styles ****************/

/******* Header/Footer *******/
header, footer{
    background-color: #222222;
    color:#c78b07
}

/******** Navigation Bar *********/
header .section-container{
    background-color: #222222;
}

nav{
    background-color: #c78b07;
    display: flex;
    flex-direction: column;
}

/**** Logo ****/
#logo{
    width:auto;
    margin-right: auto;
}

/*** nav links ***/
nav a{
    width:100%;
    padding: 1em;
    background-color: #222222;
    color: #c78b07;
    text-align:center;
    text-decoration: none;
}

nav a:hover{
color: #222222;
background-color: #c78b07;
}

/*** Search Bar ****/
#search{
    display: flex;
    height: 1.5rem;
}

#search input{
    flex-basis: 100% ;
}

/********** Welcome **************/
#home{
    background-image: url(../images/main-banner.jpg);
    padding: 3rem 0rem;
}

/****** Vision *******/
#vision{
    background-image: url(../images/vision.jpg);
    color: #ffffff;
}

/**** Footer ****/
footer a, footer a:visited, footer a:hover, footer a:active{
    color:#c78b07
}

/******************************************************************
 ********************** Destop Version ****************************
 ******************************************************************/

 @media screen and (min-width:760px){
    nav, .nav-bar{
        display:flex;
        flex-direction: row;
    }

    nav a, .header-flex-item, #logo{
        width:fit-content;
    }

    img.header{
        width: auto;
    }
 }